/*Estilos contenedor blu de fondo*/
.aside-container {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: var(--bg-color-blur);
  opacity: 0;
  transition: all .3s ease;
  z-index: -9;
}

/*Estilos contenedor del aside menu*/
.ul-container {
  position: fixed;
  top: 0;
  left: -50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
  height: 100vh;
  background-color: var(--bg-color);
  z-index: 10;
  transition: all .5s ease;
}

.aside-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 15px 0;
}
.aside-logo img {
  width: 20%;
}
.aside-logo p {
  font-size: 1.7rem;
  color: var(--secondary);
}

.ul-container ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  list-style: none;
}

.aside-title {
  width: 100%;
  margin: 10px 0;
  padding: 10px 0;
  font-size: 2.2rem;
  font-weight: 100;
  text-align: center;
  color: var(--tertiary);
  background-color: var(--bg-color-container);
}

.ul-container ul li {
  width: 90%;
}

.ul-container ul li a{
  display: block;
  width: 100%;
  height: 50px;
  text-decoration: none;
  color: #fff;
  font-family: var(--font);
  font-size: 2.2rem;
  text-align: center;
  line-height: 50px;
}

.ul-container ul li a.isActive {
  color: var(--secondary);
  border-left: 3px solid var(--secondary);
  background-color: #f5c5180c;
}

/*UX del aside menu*/
.active-aside {
  transform: translateX(100%);
}
.active-blur-aside {
  opacity: 1;
  z-index: 9;
}

@media (min-width: 720px) {
  .aside-container {
    display: none;
  }
  .ul-container {
    display: none;
  }
}