.poster-aside-desktop,
.poster-description {
  display: none;
}

/* Estilos contenedor de wallpaper y poster */
.main-poster-backdrop-container {
  position: sticky;
  top: 0;
  background-color: var(--bg-color);
  touch-action: none;
}

/*Estilos wallpaper de fondo*/
.backdrop-container {
  width: 100%;
  height: 210px;
  overflow: hidden;
}
.backdrop-image {
  width: 100%;
}
.without-backdrop {
  position: sticky;
  top: 0;
  width: 100%;
  height: 200px;
  background-color: #3c3c3c;
}

/* Estilos del poster y aside info */
.poster-container {
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 20px 20px 0 0;
  z-index: 1;
}
.poster-image {
  position: relative;
  top: -20px;
  width: 45%;
  margin: 0 12px;
  border-radius: 10px;
}
.poster-aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 10px;
  height: 100%;
  gap: 10px;
}
.poster-aside h2 {
  font-size: 2.2rem;
  color: lightgray;
  text-align: center;
}
.tagline {
  padding: 0 10px;
  font-size: 1.3rem;
  font-style: italic;
  text-align: center;
  color: lightgray;
}
.poster-aside-rate {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}
.poster-aside-rate img {
  width: 10%;
}
.poster-aside-rate p {
  font-family: var(--font);
  font-size: 1.5rem;
  font-weight: 300;
  color: lightgray;
}

/* Estilos generos */
.genres-container {
  overflow-x: scroll;
  background-color: var(--bg-color);
  touch-action: pan-x;
}
.genres-container ul {
  width: 100%;
  display: flex;
  align-items: center;
  list-style: none;
  gap: 10px;
  padding: 0 0 15px 15px;
  margin-bottom: 10px;
}
.genres-container ul li {
  font-size: 1.7rem;
  color: white;
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  white-space: nowrap;
}

/* Estilos sticky container */
.container-sticky-section {
  position: sticky;
  top: 0;
  border-radius: 15px 15px 0 0;
  background-color: var(--bg-color-container);
  z-index: 2;
}

.sticky-white-bar-container {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 20px;
  padding-top: 10px;
  background-color: var(--bg-color-container);
  border-radius: 15px 15px 0 0;
}
.sticky-white-bar {
  width: 40%;
  height: 20%;
  background-color: white;
  border-radius: 15px;
}

/* Estilos descripción y detalles */
.main-details-container {
  width: 100%;
}

.description {
  padding: 10px;
}
.description h3 {
  display: inline-block;
  margin-top: 20px;
  padding: 5px 25px 15px 0;
  font-family: var(--font);
  font-size: 2rem;
  text-align: start;
  color: var(--secondary);
  border-top: 2px solid var(--secondary);
}
.description p {
  padding: 0 10px;
  font-size: 1.8rem;
  color: lightgray;
  text-align: justify;
}
.details-summary {
  text-align: center;
}
.details-summary ol {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  list-style: none;
}
.details-summary ol li {
  width: 120px;
  padding: 5px;
  font-family: var(--font);
  font-size: 1.8rem;
  color: lightgray;
}
.details-summary ol li h4 {
  color: var(--secondary);
}

.button-show-more {
  margin-top: 15px;
  padding: 6px;
  border: none;
  border-radius: 10px;
  font-family: var(--font);
  font-size: 1.4rem;
  font-weight: 500;
  color: #000;
  background-color: var(--secondary);
}

.content.hidden {
  display: none;
}

.actors-title {
  display: inline-block;
  padding: 5px 25px 0 0;
  margin: 25px 0 0 10px;
  font-size: 2rem;
  color: var(--tertiary);
  border-top: 2px solid var(--tertiary);
}

.seasons-title {
  margin-top: 20px;
  padding-top: 10px;
  text-align: center;
  font-size: 2rem;
  color: lightgray;
  background-color: #000;
  border-radius: 20px 20px 0 0;
}

@media (min-width: 520px) {
  .header {
    display: flex;
  }

  .poster-container {
    position: relative;
    display: flex;
    align-items: center;
  }

  .poster-image {
    width: 45%;
    margin: 10px;
    border-radius: 20px;
  }

  .poster-aside h2 {
    padding: 10px;
    margin-top: 25px;
    font-family: var(--font);
    font-size: 2.2rem;
    color: lightgray;
  }

  .tagline {
    padding: 10px;
    font-family: var(--font);
    font-size: 1.3rem;
    font-style: italic;
    color: lightgray;
  }

  .poster-aside-info {
    margin-top: 10px;
    padding-left: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 4px;
  }

  .poster-aside-info img {
    width: 10%;
  }

  .poster-aside-info p {
    font-family: var(--font);
    font-size: 1.5rem;
    font-weight: 300;
    color: lightgray;
  }
}

@media (min-width: 720px) {
  .genres-container,
  .poster-aside,
  .sticky-white-bar-container,
  .description,
  .button-show-more,
  .poster-aside-rate {
    display: none;
  }
  .content.hidden {
    display: block;
  }

  /* Estilos contenedor de wallpaper y poster */
  .main-poster-backdrop-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: var(--bg-color);
    touch-action: auto;
  }

  /*Estilos wallpaper de fondo*/
  .backdrop-container {
    width: 100%;
    height: fit-content;
    max-height: 500px;
  }
  .backdrop-image {
    object-fit: contain;
    opacity: 0.3;
  }
  .without-backdrop {
    position: relative;
    height: 430px;
  }

  /* Estilos del poster y aside info */
  .poster-container {
    position: absolute;
    width: 100%;
    z-index: inherit;
  }
  .poster-image {
    position: static;
    width: 20%;
    margin: 0 25px;
  }
  .tagline {
    font-size: 1.5rem;
    padding: 10px 0;
    text-align: center;
  }
  .poster-aside-desktop {
    display: block;
    margin-right: 15px;
    padding: 15px;
    width: 100%;
    background-color: #00000071;
    border-radius: 10px;
    overflow: hidden;
  }
  .poster-aside-desktop h2 {
    font-size: 2.5rem;
    color: white;
    padding: 10px 0;
  }
  .poster-aside-desktop h3 {
    display: inline-block;
    margin: 10px 0;
    padding-right: 20px;
    font-size: 2.1rem;
    color: var(--secondary);
    border-top: 2px solid var(--secondary);
  }
  .poster-aside-desktop p {
    text-align: justify;
    font-size: 1.7rem;
    color: lightgray;
  }
  .poster-aside-rate-desktop {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    padding: 10px;
    border: 3px solid var(--tertiary);
    border-radius: 20px 20px 20px 0;
    background-color: transparent;
  }
  .poster-aside-rate-desktop img {
    width: 30%;
  }
  .poster-aside-rate-desktop p {
    color: white;
    font-size: 1.6rem;
  }
  .poster-aside-desktop-genres {
    display: flex;
    align-items: center;
    gap: 25px;
    width: 100%;
    margin-top: 20px;
  }
  .poster-aside-desktop-genres ul {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    padding: 10px 0;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  }
  .poster-aside-desktop-genres ul li {
    font-size: 1.8rem;
    list-style: none;
    padding: 5px;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
  }

  .details-summary {
    padding-top: 10px;
  }

  .container-sticky-section {
    position: static;
  }
}
