.genres-list-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.genre-item {
  padding: 5px;
  margin: 5px;
  font-family: var(--font);
  font-size: 1.7rem;
  font-weight: 400;
  color: white;
  border: 2px solid lightgray;
  border-radius: 5px;
}

.genre-item.active {
  background-color: var(--secondary);
  font-weight: 500;
  color: black;
  border: 2px solid var(--secondary);
}

.filtered-genre-title {
  font-family: var(--font);
  font-size: 2.5rem;
  color: var(--tertiary);
  text-align: center;
  margin: 30px 0 15px 0;
}

.filtered-genre-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}