.header {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  padding: 10px;
  gap: 30px;
}

.header-logo {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.page-name {
  background-color: var(--secondary);
  color: var(--font-color);
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 30px;
  font-weight: 500;
  color: #000;
  padding: 5px;
  text-align: center;
  border-radius: 10px;
}

.burguer-button {
  width: 40px;
  filter: invert(80%) sepia(4%) saturate(7%) hue-rotate(7deg) brightness(88%) contrast(95%);
}

.search-button {
  width: 35px;
  filter: invert(80%) sepia(4%) saturate(7%) hue-rotate(7deg) brightness(88%) contrast(95%);
}