.header {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-color);
  padding: 10px;
  gap: 30px;
}

.header-logo {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.page-name {
  color: var(--font-color);
  font-family: var(--font);
  font-size: 30px;
  font-weight: 400;
  text-align: center;
}

.burguer-button {
  width: 40px;
  filter: invert(80%) sepia(4%) saturate(7%) hue-rotate(7deg) brightness(88%) contrast(95%);
}

.search-button {
  width: 35px;
  filter: invert(80%) sepia(4%) saturate(7%) hue-rotate(7deg) brightness(88%) contrast(95%);
}