.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-container {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color);
}

.section-header h3{
    font-family: var(--font);
    font-weight: 300;
    font-size: 18px;
    color: #fff;
    text-align: center;
}

.slider-wrapper {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    overflow-x: scroll;
}

.slider-container {
    width: fit-content;
    display: flex;
    align-items: center;
    min-height: 200px;

}

.button-more {
    margin-right: 5px;
    padding: 5px;
    width: 70px;
    height: 25px;
    border: none;
    border-radius: 10px;
    font-size: 14px;
    font-weight: bold;
}