.movie-card {
    width: 155px;
    min-height: 270px;
    padding: 5px;
    color: var(--font-color);
}

.movie-poster {
    position: relative;
}

.movie-poster img {
    position: relative;
    width: 100%;
    height: 220px;
    border-radius: 12px;
}

.movie-name {
    text-align: center;
    font-family: var(--font);
    font-size: 15px;
    padding: 5px;
}

.movie-release-year {
    position: absolute;
    bottom: 8px;
    right: 10px;
    font-family: var(--font);
    font-size: 10px;
    font-weight: 400;
    background-color: var(--bg-color);
    padding: 5px;
    border-radius: 5px;
}