.aside-container {
  position: fixed;
  display: flex;
  top: 0;
  width: 100%;
  height: 100vh;
}

.ul-container h3 {
  padding: 10px;
  text-align: center;
}

.ul-container {
  width: 50%;
  background-color: var(--primary);
}

.ul-container ul {
  display: flex;
  flex-direction: column;
  gap: 3px;
  list-style: none;
  padding: 25px 10px 10px 10px;
}

.ul-container ul li {
  font-size: 20px;
  height: 40px;
  line-height: 40px;
  text-align: center;
}

.aside-blur {
  width: 50%;
  height: 100vh;
  background-color: var(--bg-color-blur);
}

.link {
  text-decoration: none;
  color: #fff;
}

.isActive {
  color: yellow;
}

