.main-slider-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}

.slider-header h3 {
  font-family: var(--font);
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  text-align: center;
}

.slider-wrapper {
  display: flex;
  width: 84%;
  padding: 10px;
  overflow-x: scroll;
  margin-top: 10px;
  scroll-snap-type: x mandatory;

  box-shadow: -2px 0 var(--tertiary), 2px 0 var(--tertiary);
  border-radius: 10px;
}

.slider-wrapper a {
  text-decoration: none;
}

.button-more {
  margin-right: 5px;
  padding: 7px;
  border: none;
  border-radius: 10px;
  font-family: var(--font);
  font-size: 1.4rem;
  font-weight: 500;
  background-color: var(--tertiary);
  color: #fff;
}
