.movie-card {
    position: relative;
    width: 155px;
    min-height: 270px;
    padding: 5px;
    color: var(--font-color);
    scroll-snap-align: center;
    scroll-snap-stop: always;
}

.movie-poster {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 225px;
    overflow: hidden;
    border-radius: 12px;
}

.movie-poster img {
    width: 100%;
    transition: all .5s ease;
}

.without-poster {
    width: 155px;
    min-height: 220px;
    background-color: #000;
    border-radius: 12px;
}
.without-poster p {
    color: white;
    font-size: 1.8rem;
    line-height: 220px;
    text-align: center;
    cursor: default;
}

.movie-poster a {
    position: absolute;
    width: 80%;
    height: 80%;
}

.movie-name {
    text-align: center;
    font-family: var(--font);
    font-weight: 400;
    font-size: 1.5rem;
    padding: 5px;
    color: white;
    cursor: default;
}

.movie-release-year {
    position: absolute;
    bottom: 8px;
    right: 10px;
    font-family: var(--font);
    font-size: 1rem;
    font-weight: 400;
    background-color: #000;
    padding: 5px;
    border-radius: 5px;
    cursor: default;
}

@media (min-width:1024px) {
    .movie-poster:hover img {
        width: 115%;
    }
}