.datalist-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 250px;
  height: 50px;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid white;
  z-index: 1;
}
.datalist-container.active-datalist {
  border-color: var(--secondary);
  border-bottom: none;
}

.selected-option {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  width: 80%;
  height: 100%;
  transition: all .5s ease;
}
.selected-option img {
  height: 100%;
  border-radius: 40%;
}
.selected-option p {
  width: 70%;
  font-size: 1.8rem;
  text-align: center;
  color: white;
}
.arrow {
  width: 20%;
  filter: var(--filter-grey);
  transform: rotate(-90deg);
  cursor: pointer;
  transition: transform .300s ease;
}

.arrow.active-datalist {
  transform: rotate(90deg);
  filter: var(--filter-secondary);
}

.datalist {
  position: absolute;
  top: 100%;
  left: -2px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  width: 100%;
  height: 0;
  
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: rgb(59, 59, 59);
  border-radius: 10px;

  transition: height .5s ease;
}
.datalist.active-datalist {
  height: 250px;
  border: 2px solid var(--secondary);
  z-index: 0;
}


.input {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: 80%;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid lightgray;
  cursor: pointer;
}
.input img {
  width: 30%;
  border-radius: 40%;
} 
.input p {
  width: 70%;
  padding: 5px;
  font-size: 1.8rem;
  text-align: center;
  color: white;
}
.input:first-child {
  margin-top: 10px;
}
.input:last-child {
  margin-bottom: 10px;
}
.input:active {
  background-color: none;
}

@media (min-width:1024px) {

  .input, .input p, .arrow {
    transition: all .5s ease;
  }

  .input:hover, 
  .input:hover p{
    border-color: var(--tertiary);
    color: var(--tertiary);
  }

  .arrow:hover {
    filter: var(--filter-secondary);
  }
}