.searched-card-container {
  display: flex;
  align-items: center;
  width: 90%;
  height: 130px;
  background-color: lightgray;
  border-radius: 10px;
  text-decoration: none;
}

.result-image {
  height: 90%;
  margin: 5px;
  border-radius: 10px;
}

.without-image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 117px;
  margin: 5px;
  border-radius: 10px;
  background-color: #000;
}
.without-image img {
  width: 80%;
  filter: var(--filter-grey);
}

.result-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 75%;
  height: 100%;
  color: #000;
}

.result-title {
  width: 100%;
  font-size: 1.2rem;
  padding: 4px;
  line-height: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.result-description {
  max-height: 40px;
  font-size: .9rem;
  padding: 1px 3px;
  text-align: start;
  overflow: hidden;
}

.result-date {
  font-size: .9rem;
  padding: 3px;
  font-weight: 600;
}

@media (min-width:720px) {
  .result-title {
    font-size: 1.4rem;
    line-height: normal;
  }

  .result-description {
    font-size: 1.2rem;
  }
}
