/* Estilos contenedor de todo el header */
.header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: var(--bg-color-container);
  z-index: 1;
}


/* Estilos burguer button */
.header-burguer-button {
  width: 40px;
  margin: 10px;
  filter: var(--filter-grey);
}
.header-burguer-button:active {
  filter: var(--filter-secondary);
}


/* Estilos logo del header */
.header-page-logo {
  display: flex;
  height: 100%;
  border-radius: 10px;
  cursor: pointer;
}
.header-page-logo a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  color: var(--secondary);
  font-size: 2rem;
  text-decoration: none;
}
.header-page-logo img {
  height: 90%;
  padding-right: 5px;
}


/* Estilos search button */
.header-search-button {
  width: 35px;
  margin: 10px;
  filter: var(--filter-grey);
}
.header-search-button:active {
  filter: var(--filter-secondary);
}

.input-header-search {
  font-family: var(--font);
}




@media (min-width: 720px) {

  .blur-input-container {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: var(--bg-color-blur);
    opacity: 0;
    transition: all .5s ease;
    z-index: -1;
  }
  .blur-input-container.blur-input-active {
    opacity: 1;
    z-index: 2;
  }

  .header {
    z-index: 2;
  }

  .header-burguer-button {
    display: none;
  }

  .header-search-button {
    display: none;
  }

}


@media (min-width: 1024px) {

  .header-search-button {
    width: 120px;
  }
}