.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 100%;
  height: 40px;
  padding-top: 10px;
  border-top: 2px solid var(--tertiary);
  background-color: var(--bg-color);
}

.footer p {
  margin: 10px;
  font-size: 1.4rem;
  color: white;
  text-align: center;
}

.footer img {
  padding: 10px;
  height: 100%;
}