/* Estilos contenedor de toda la busqueda */
.input-container {
  position: fixed;
  top: -100px;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100px;
  transition: all 0.5s ease;
  background-color: var(--bg-color-container);
}
.input-container.active-input-container {
  top: 0;
  z-index: 1;
}

/* Estilos back button */
.back-button-search {
  width: 15%;
  filter: var(--filter-grey);
}

/* Estilos search button para desktop */
.desktop-search-button {
  display: none;
}

/* Estilos input de busqueda */
.input-container input {
  width: 100%;
  margin: 20px;
  margin-left: 10px;
  padding: 10px;
  font-family: var(--font);
  font-size: 2rem;
  color: lightgray;
  border: 1px solid var(--secondary);
  border-radius: 10px;
  background-color: transparent;
  transition: all 0.2s ease;
}
.input-container input:focus {
  outline: none;
  border: 2px solid var(--secondary);
  box-shadow: 0 0 10px var(--secondary);
}

/* Estilos contenedor de resultados de busqueda */
.search-results {
  position: fixed;
  top: -100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;

  width: 100%;
  height: calc(100vh - 100px);
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: var(--bg-color-container);
  transition: all 0.3s ease;
}
.search-results.active-results {
  top: 0;
  padding-top: 100px;
}




@media (min-width: 719px) {


  .back-button-search {
    display: none;
  }

  .desktop-search-button {
    display: block;
    height: 80%;
    margin: 10px;
    filter: var(--filter-grey);
    cursor: pointer;
  }
  .desktop-search-button:hover {
    filter: var(--filter-secondary);
  }

  .input-container {
    position: relative;
    top: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
    height: 60%;
    width: 100px;
    border-radius: 15px;
    border: 2px solid lightgray;
    transition: all 0.5s ease;
  }
  .input-container.active-input-container {
    width: 30%;
    border-color: var(--secondary);
  }


  .input-container input {
    width: 70%;
    margin: 0;
    border-radius: 0;
    border: none;
  }

  .input-container input:focus {
    outline: none;
    border: none;
    box-shadow: none;
  }


  .search-results {
    position: absolute;
    top: 70px;
    left: 20%;
    height: 0;
    width: 50%;
    border-radius: 0 0 10px 10px;
    z-index: -1;
  }
  .search-results.active-results {
    top: 100%;
    padding-top: 20px;
    height: 60vh;
    border: 2px solid var(--secondary);
    z-index: 3;
  }
}

@media (min-width: 1024px) {

}

@media (min-width: 1400px) {
  .search-container {
    left: 25%;
  }
}
