* {
  margin: 0;
  padding: 0;
}

:root{
  --font-color: #fff;
  --bg-color: #121212;
  --bg-color-container: rgb(34, 34, 34);
  --bg-color-blur: #1b262cf3;
  --primary: #123e55;
  --secondary: #F5C518;
  --font: 'Rubik', sans-serif;
}

html {
  font-size: 62.5%;
  font-family: var(--font);
}

body {
  height: 100vh;
  background-color: var(--bg-color);
}

#root {
  position: relative;
  height: 100vh;
}