.main-slider-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  height: 40px;
}

.slider-header h3 {
  font-family: var(--font);
  font-weight: 400;
  font-size: 18px;
  color: #fff;
  text-align: center;
}


/*Conteneder principal*/
.cards-container {
  width: 90%;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  margin-top: 10px;
  border-radius: 10px;
  border: 1px solid white;
}
/*Conteneder interno con overflow*/
.cards-wrapper {
  display: flex;
  width: max-content;
  padding: 15px;
  margin-left: 50%;
  z-index: 1;
}


.button-more {
  margin-right: 5px;
  padding: 7px;
  border: 1px solid var(--secondary);
  border-radius: 10px;
  font-family: var(--font);
  font-size: 1.4rem;
  font-weight: 500;
  background-color: transparent;
  color: #fff;
}


/*Estilos Custom Headers*/

.custom-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 70px;
}


.custom-header.disney img{
  height: 90%;
  padding: 5px;
  border-radius: 10px;
}
.custom-header.disney .button-more {
  border: 1px solid #0DFFFF;
}


.custom-header.netflix img {
  width: 40%;
}
.custom-header.netflix .button-more {
  border: 1px solid red;
}


.custom-header.star img {
  width: 40%;
  padding: 5px;
  border-radius: 10px;
}
.custom-header.star .button-more {
  border: 1px solid #ff374f;
}

.custom-header.hbo img {
  width: 45%;
  padding: 7px;
  border-radius: 10px;
}
.custom-header.hbo .button-more {
  border: 1px solid #9e3df0;
}

.custom-header.paramount img {
  width: 50%;
}
.custom-header.paramount .button-more {
  border: 1px solid #fff;
}


/*Estilos custom cards container */

.cards-container.netflix {
  border: none;
  border-top: 3px solid red;
  border-bottom: 3px solid red;
}

.cards-container.disney {
  border: none;
  border-top: 3px solid #0DFFFF;
  border-bottom: 3px solid #0DFFFF;
}

.cards-container.star {
  border: none;
  border-top: 3px solid #ff374f;
  border-bottom: 3px solid #ff374f;
}

.cards-container.hbo {
  border: none;
  border-top: 3px solid #9e3df0;
  border-bottom: 3px solid #9e3df0;
}

.cards-container.paramount {
  border: none;
  border-top: 3px solid #fff;
  border-bottom: 3px solid #fff;
}